In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [3]:
db = "DB_CS250_Snapshot"
users = pd.read_json(f"{db}/users/documents.jsonl", lines=True)
logs = pd.read_json(f"{db}/logs/documents.jsonl", lines=True)
exercises = pd.read_json(f"{db}/exercises/documents.jsonl", lines=True)
weeks = pd.read_json(f"{db}/weeks/documents.jsonl", lines=True)
weeks=weeks[weeks["name"]!="Playground for the first three Quizzes"]

In [4]:

logs["exerciseName"] = logs["exerciseId"].apply(lambda x: exercises[exercises["_id"]==x]["name"].values[0])
logs["controlGroup"] = logs["exerciseId"].apply(lambda x: exercises[exercises["_id"]==x]["controlGroup"].values[0])
logs["userGroup"] = logs["userId"].apply(lambda x: users[users["_id"]==x]["group"].values[0])
logs["_creationTime"] = pd.to_datetime(logs["_creationTime"], unit="ms")
#exercise week
exo_week = exercises[["_id","weekId"]].merge(weeks[["_id","name"]].rename(columns={"_id":"weekId"}),on="weekId")

logs["week"] = logs["exerciseId"].apply(lambda x: next(iter(exo_week[exo_week["_id"]==x]["name"].values), "invalid"))

In [5]:
logs["week"].value_counts()

week
Quiz #5     15970
Quiz #6     15631
Quiz #4     14521
Quiz #8     14462
Quiz #3     14413
Quiz #1     13923
Quiz #2     13130
Quiz #11    12850
Quiz #7     12315
Quiz #10    12017
Quiz #9     11103
invalid      3634
Testing        33
Name: count, dtype: int64

In [6]:
valid_weeks = [f'Quiz #{i}' for i in range(1,12)]
logs = logs[logs["week"].isin(valid_weeks)]
print(logs["week"].value_counts())

week
Quiz #5     15970
Quiz #6     15631
Quiz #4     14521
Quiz #8     14462
Quiz #3     14413
Quiz #1     13923
Quiz #2     13130
Quiz #11    12850
Quiz #7     12315
Quiz #10    12017
Quiz #9     11103
Name: count, dtype: int64

In [7]:
quiz_started = logs[logs['type'] == "quizStarted"].drop_duplicates(subset=["userId", "exerciseName"],keep='last')
correct_submissions = logs[(logs['type'] == "quizSubmission") & 
                        (logs['details'].apply(lambda x: isinstance(x, dict) and x.get('correctness') == 1))]

logs_grouped_quiz = pd.concat([quiz_started, correct_submissions])
logs_grouped_quiz["timeSpent_quiz"] = logs_grouped_quiz.groupby(["userId", "exerciseName"])[["_creationTime"]].diff()


logs_grouped_quiz["timeSpent_quiz"] = logs_grouped_quiz["timeSpent_quiz"].apply(lambda x: x.total_seconds()/60)
logs_grouped_quiz = logs_grouped_quiz[["userId","exerciseId", "timeSpent_quiz"]]

In [8]:
logs_ts = logs.merge(logs_grouped_quiz.dropna(subset='timeSpent_quiz'), how='left',on=['userId','exerciseId'])
logs_ts.head()

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,exerciseName,controlGroup,userGroup,week,timeSpent_quiz
0,2024-05-11 15:56:52.688503174,k570005nhp144860betwtwy7v56rx64m,j571kc5p8ah7yvj1xhng7nzpgs6rxy2m,k179wpzex0za69rx2wyv02e9hd6rj4fb,attemptStarted,js71tk2nax2wvs97m3vgc5erp16mds09,reading,NaN,NaN,NaN,Kruskal's algorithm,A,A,Quiz #9,1.769433
1,2024-04-16 08:00:01.116921631,k57000a4rv5wgy13d63pqyt51s6qb2vv,j57adjsev6qjazakv9p4ad7qwh6qany3,k1710bmgh2mwgaqv7sjkmmfh1x6pveqf,quizSubmission,js7ese808vctnr15sy1te2pvx96mndmx,explain,"{'answers': [2.0, 0.0, 2.0], 'correctness': 1....",NaN,NaN,Optimal Binary Search Trees,A,B,Quiz #5,18.036219
2,2024-05-20 16:28:14.092592285,k57000d308fpr45yqrprf6wrs56see5h,j572qtbd19x89mraje17mmj30x6sen0s,k176kkt806khrpxnctb9hczm316rtsrq,quizSubmission,js78b7hq6r6pk2c0mm9d2he91s6mjb8v,reading,"{'answers': [2.0, 3.0, 0.0], 'correctness': 1....",NaN,NaN,Dijkstra,A,A,Quiz #10,12.279168
3,2024-04-18 08:10:36.998193848,k57000m99awdk4jw41cjfe4jkn6qf1jj,j572w733907q5k2w0kkk4a19z96qfaec,k171kqa60g6a9qpm0f0jv07wn16ptnr1,quizSubmission,js7e56b2v2t5nacr7e4n8dnn3d6mb606,explain,"{'answers': [0.0, 1.0, 1.0], 'correctness': 0....",NaN,NaN,Breadth-First Search,B,A,Quiz #6,712.725918
4,2024-03-13 16:35:30.072217773,k57000mdpmrfm67q4eymvsbqns6n6ezf,j571e3e401tqj2mag6mjgrcynx6n7t96,k1715d99fyvzt35jfm2638g3nd6n35z3,exerciseCompleted,js7534h7gnm8pmyem0n6ttdb816mb94w,explain,NaN,NaN,NaN,Heap Sort,A,B,Quiz #3,9.432901

In [9]:
logs_grouped_messages = logs_ts.copy()
logs_grouped_messages = logs_grouped_messages[logs_grouped_messages["type"].isin(["messageSent", "answerGenerated","exerciseCompleted"])]
logs_grouped_messages["type"].value_counts()

type
messageSent          42307
answerGenerated      36761
exerciseCompleted     5063
Name: count, dtype: int64

In [10]:
logs_grouped_messages["n_sent"] = logs_grouped_messages.groupby(["userId", "exerciseName"])["type"].transform(lambda x: (x == "messageSent").sum())
logs_grouped_messages["n_sent"]= logs_grouped_messages["n_sent"].fillna(0).astype(int)

logs_grouped_messages["n_received"] = logs_grouped_messages.groupby(["userId", "exerciseName"])["type"].transform(lambda x: (x == "answerGenerated").sum())
logs_grouped_messages["n_received"]= logs_grouped_messages["n_received"].fillna(0).astype(int)

logs_grouped_messages["n_mess"] = logs_grouped_messages["n_sent"] + logs_grouped_messages["n_received"]
logs_grouped_messages

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,exerciseName,controlGroup,userGroup,week,timeSpent_quiz,n_sent,n_received,n_mess
4,2024-03-13 16:35:30.072217773,k57000mdpmrfm67q4eymvsbqns6n6ezf,j571e3e401tqj2mag6mjgrcynx6n7t96,k1715d99fyvzt35jfm2638g3nd6n35z3,exerciseCompleted,js7534h7gnm8pmyem0n6ttdb816mb94w,explain,NaN,NaN,NaN,Heap Sort,A,B,Quiz #3,9.432901,5,4,9
5,2024-03-28 16:24:01.600864014,k57000ny7w4g28vjeeyb9x8se16p55f9,j578ec52hh90fvkmk132x6ege96p45ba,k17asvnfeyp3q949hdkwjq2and6p2x6e,answerGenerated,js7984yjpe01cj1761gygtt3dx6mafdh,explain,NaN,jd7b55hm5qjm0196n9rt6jyh7n6p581t,jd70y58gcaafd916x0rfp0ygsh6p4b7a,Matrix-Chain Multiplication,A,B,Quiz #4,1132.250950,8,7,15
9,2024-04-04 13:43:46.323182861,k57000x8jdvr4gjsm2p0ey1bms6pj2vt,j57en6wxxqtd4x169vt90y9zdh6pkyh4,k1779x2fet2p0zkazg66nvfcjh6p2vbm,messageSent,js73xpgsqcv0gmv0g1w7as97rd6me4c0,explain,NaN,jd747sa89e37hf86z054b67wjx6pk19t,jd7b6sqaqbmgvxc1b14sr4rewn6pj0sj,Rod Cutting,B,A,Quiz #4,5.145569,9,8,17
10,2024-04-07 10:08:21.862825195,k5700154f6etndhepqx0rstrkn6pr0xk,j573anryyjzgxm9rcpdm6t9bys6psp8s,k17asvnfeyp3q949hdkwjq2and6p2x6e,messageSent,js74xtqm1gax5zqzszz0yrnfss6mekyy,explain,NaN,jd75ge56tp37t39fp4pw04mmcx6ps3s9,jd71yw479qb2cp2xv2k5b7z1n16psack,Matrix-Chain Multiplication,A,B,Quiz #4,1.805898,9,8,17
12,2024-04-22 09:28:34.208699707,k570015f8vcye8mbv9tb6w8hv96qpwq6,j57e15s47pzdb00vn5057zr6md6qq4aq,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,messageSent,js71v2af0tfkjx57xy21wqhyyx6md2et,explain,NaN,jd71n1g8c1pd1vb0vgq841h0356qp18w,jd7dvv02ctfyw1p9ns9bd635j16qpydg,Depth-First Search,A,B,Quiz #6,9.959555,6,5,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150889,2024-04-17 20:09:57.378344482,k57fzz34c1ydkwt8w5648c7vxd6qd046,j57edg5teg7haqdw3y6jgtenkh6qcrfh,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,answerGenerated,js72e99j78d0thce52z0w0594n6mbthj,explain,NaN,jd78jkknjzt33tmdx099zvtq1s6qc40m,jd76n4y5xnmpd32k0cctyb2mxx6qcesb,Depth-First Search,A,B,Quiz #6,9.773036,10,9,19
150890,2024-04-28 15:58:08.244800537,k57fzz4xh4a5j78rbrhpctvyxs6r2dh9,j574ym30w3hmatzk704wf785fx6r2ett,k172p4g9eanfgsgtkjg0sn49916qgwh4,answerGenerated,js7f8p4456h8p3f9am33n8p3f56mc1k2,explain,NaN,jd7btft8ad0g2v5j93jkz1qyw16r2xgb,jd709bqe9abqhft932cd7rymyn6r3qwj,Topological Sorting,B,A,Quiz #7,3.718620,9,8,17
150892,2024-04-04 09:59:25.539958252,k57fzzawztspx74s56dd8v9g7h6pkea6,j57cq176xgq49ebe4hq4ec4bb96pjfc1,k17asvnfeyp3q949hdkwjq2and6p2x6e,messageSent,js7ejegwwy13npt4t5xmxfaze16mf7wj,explain,NaN,jd765cr60qe2ygzfqsgq9950996pj5fm,jd77rttn3djr1548bzs6jp24hs6pkmyv,Matrix-Chain Multiplication,A,B,Quiz #4,6.870883,7,6,13
150894,2024-05-06 22:05:16.395833740,k57fzzdgj1jvxwbbb443hfkej96rkktd,j57ck5p09yecbjpse269svw8eh6rkapf,k1768n9arfqk6vpqtsaxgs3m156qx8mp,messageSent,js77jjffzjf9pskspa6hh9sknh6ma65a,explain,NaN,jd764p5pff8zfxjf67f3rb2rgn6rj0xv,jd7920e1qrchh4fj403hjw9xj16rkyqt,Edge disjoint paths via max flow,A,B,Quiz #8,24.978101,13,12,25
150896,2024-04-23 23:42:35.980069824,k57fzzpd64sqx8fsmy4j1afyrd6qsc59,j572fx0aen3kjntt6h1ghn8kkd6qrxfh,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,messageSent,js772btmge1q78y2b716fgyjxd6mmktb,explain,NaN,jd70d9kx58fxkvtb2t5nj9rtb16qsghj,jd77wf1rmmxxfb7d4xqna37yj96qrwx6,Depth-First Search,A,B,Quiz #6,NaN,8,7,15

In [11]:
logs_grouped_messages["finish_time"] = logs_grouped_messages[logs_grouped_messages["type"]=="exerciseCompleted"]["_creationTime"]
logs_grouped_messages["start_time"] = logs_grouped_messages.sort_values("_creationTime").groupby(["userId", "exerciseName"])["_creationTime"].transform("min")
logs_grouped_messages["timeSpent_message"] = (logs_grouped_messages["finish_time"] - logs_grouped_messages["start_time"]).dt.total_seconds()/60

In [12]:
logs_grouped_messages = logs_grouped_messages.query("type=='exerciseCompleted'").drop_duplicates(subset=["userId","exerciseId"])[["userId","exerciseId", "n_mess", "timeSpent_message"]]
logs_grouped_messages

,userId,exerciseId,n_mess,timeSpent_message
4,js7534h7gnm8pmyem0n6ttdb816mb94w,k1715d99fyvzt35jfm2638g3nd6n35z3,9,3.208412
14,js76m5g9wh37e6px2tyb5psbvx6mg0tp,k177dxhnpwwtrq9dy5770jmrwx6rvzrr,11,2.332707
24,js788ecjy0bjd2azdgf9x43yk96mdat0,k171kqa60g6a9qpm0f0jv07wn16ptnr1,19,148.639481
60,js73t5rvpr3a90mdxdd8yvrzkn6mmp42,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,27,731.854775
61,js75xfp2h55x14p9g4zhf2azw56mfxby,k173an7ns7g76j493paexdh88d6n3bsh,19,7.407522
...,...,...,...,...
150742,js7fevm1btqznxbqs17c8hmy0s6md575,k177dxhnpwwtrq9dy5770jmrwx6rvzrr,5,1.422896
150753,js74jr9c4cnqhjds24d44j4kmh6mb07r,k176kkt806khrpxnctb9hczm316rtsrq,11,4.005574
150767,js72s3x6qh9rd266x1pfg4baen6mhyd9,k17c95d62th7c5e5dq5b05s1ex6rjp81,15,8.160749
150862,js7636qxyx41pg59t5vt1se6j56mfnys,k17416m11n2qpqy5sr2zz6782s6s2y2n,13,22.265921
150883,js79dkq8sdp659181nxhre2zdn6mhmkb,k17bjgasjmxckybqv579w4vna96pv6ny,7,3.198187

In [13]:
logs_ts2 = logs_ts.merge(logs_grouped_messages, how='left',on=['userId','exerciseId'])
logs_ts2

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,exerciseName,controlGroup,userGroup,week,timeSpent_quiz,n_mess,timeSpent_message
0,2024-05-11 15:56:52.688503174,k570005nhp144860betwtwy7v56rx64m,j571kc5p8ah7yvj1xhng7nzpgs6rxy2m,k179wpzex0za69rx2wyv02e9hd6rj4fb,attemptStarted,js71tk2nax2wvs97m3vgc5erp16mds09,reading,NaN,NaN,NaN,Kruskal's algorithm,A,A,Quiz #9,1.769433,NaN,NaN
1,2024-04-16 08:00:01.116921631,k57000a4rv5wgy13d63pqyt51s6qb2vv,j57adjsev6qjazakv9p4ad7qwh6qany3,k1710bmgh2mwgaqv7sjkmmfh1x6pveqf,quizSubmission,js7ese808vctnr15sy1te2pvx96mndmx,explain,"{'answers': [2.0, 0.0, 2.0], 'correctness': 1....",NaN,NaN,Optimal Binary Search Trees,A,B,Quiz #5,18.036219,11.0,16.125910
2,2024-05-20 16:28:14.092592285,k57000d308fpr45yqrprf6wrs56see5h,j572qtbd19x89mraje17mmj30x6sen0s,k176kkt806khrpxnctb9hczm316rtsrq,quizSubmission,js78b7hq6r6pk2c0mm9d2he91s6mjb8v,reading,"{'answers': [2.0, 3.0, 0.0], 'correctness': 1....",NaN,NaN,Dijkstra,A,A,Quiz #10,12.279168,NaN,NaN
3,2024-04-18 08:10:36.998193848,k57000m99awdk4jw41cjfe4jkn6qf1jj,j572w733907q5k2w0kkk4a19z96qfaec,k171kqa60g6a9qpm0f0jv07wn16ptnr1,quizSubmission,js7e56b2v2t5nacr7e4n8dnn3d6mb606,explain,"{'answers': [0.0, 1.0, 1.0], 'correctness': 0....",NaN,NaN,Breadth-First Search,B,A,Quiz #6,712.725918,13.0,13.314908
4,2024-03-13 16:35:30.072217773,k57000mdpmrfm67q4eymvsbqns6n6ezf,j571e3e401tqj2mag6mjgrcynx6n7t96,k1715d99fyvzt35jfm2638g3nd6n35z3,exerciseCompleted,js7534h7gnm8pmyem0n6ttdb816mb94w,explain,NaN,NaN,NaN,Heap Sort,A,B,Quiz #3,9.432901,9.0,3.208412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150892,2024-04-04 09:59:25.539958252,k57fzzawztspx74s56dd8v9g7h6pkea6,j57cq176xgq49ebe4hq4ec4bb96pjfc1,k17asvnfeyp3q949hdkwjq2and6p2x6e,messageSent,js7ejegwwy13npt4t5xmxfaze16mf7wj,explain,NaN,jd765cr60qe2ygzfqsgq9950996pj5fm,jd77rttn3djr1548bzs6jp24hs6pkmyv,Matrix-Chain Multiplication,A,B,Quiz #4,6.870883,13.0,10.088254
150893,2024-04-23 10:58:30.496422607,k57fzzbpy6sndtetjcsrfm8j7n6qrk4f,j573jw31r3p36xs9prfbskv8sn6qshfr,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,feedbackGiven,js75phnd9pfy1mp9b3s4w94f0d6mjzaa,explain,NaN,jd70ajdywrabes973rbs30j3ax6qsnfk,NaN,Depth-First Search,A,B,Quiz #6,156.682048,35.0,891.539077
150894,2024-05-06 22:05:16.395833740,k57fzzdgj1jvxwbbb443hfkej96rkktd,j57ck5p09yecbjpse269svw8eh6rkapf,k1768n9arfqk6vpqtsaxgs3m156qx8mp,messageSent,js77jjffzjf9pskspa6hh9sknh6ma65a,explain,NaN,jd764p5pff8zfxjf67f3rb2rgn6rj0xv,jd7920e1qrchh4fj403hjw9xj16rkyqt,Edge disjoint paths via max flow,A,B,Quiz #8,24.978101,25.0,10.592223
150895,2024-04-18 12:31:21.107867188,k57fzzgqsqtqrqm43bfrgpazth6qfv3c,j573hc3tac12sym478a3f9634d6qe4yq,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,attemptStarted,js77gaavvhwwnth677vgafz3sd6mbgt9,explain,NaN,NaN,NaN,Depth-First Search,A,B,Quiz #6,7.121689,13.0,4.801819
150896,2024-04-23 23:42:35.980069824,k57fzzpd64sqx8fsmy4j1afyrd6qsc59,j572fx0aen3kjntt6h1ghn8kkd6qrxfh,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,messageSent,js772btmge1q78y2b716fgyjxd6mmktb,explain,NaN,jd70d9kx58fxkvtb2t5nj9rtb16qsghj,jd77wf1rmmxxfb7d4xqna37yj96qrwx6,Depth-First Search,A,B,Quiz #6,NaN,15.0,9.021360

In [14]:
user_data = pd.read_json("DB_CS250_Snapshot/anonymized_student_data.jsonl",lines=True)
user_data

,identifier,gender,section,semester
0,409af2188426d31768163f9db90f57ee738aeaf0c761d4...,Male,IN,Bachelor semester 4
1,fd72fd0e1055b5f8ab7eabd631a84896575291b5592e66...,Male,SC,Bachelor semester 4
2,ba65e347859e087307971a7348a3b552fb655f9bf82abc...,Female,IN,Bachelor semester 4
3,43510d84df3d9289af7eb33da46ab0ebf212ab78107f69...,Female,IN,Bachelor semester 4
4,6538b7a72fae4173dbe8ba580e01145afaeb0f31b3f2f8...,Female,IN,Bachelor semester 4
...,...,...,...,...
459,d03cb94868d7249d51f13c0589bec349d36844fc006dcc...,Male,IF,Master semester 2
460,67d3e01046e32192d65b7665aefc5af529734c3e14cf83...,Male,SC_ECH,Spring semester
461,169293dc5d04fa93ed8074d949d7b13346ecf3a9888cc8...,Male,IN,Bachelor semester 4
462,384d32131aea1bcadaf651ea56feebe501b1f3c4bc29d7...,Male,IN,Bachelor semester 4
463,2e8d9884328aae9a5984c48783cf5b4c5569515a2c2a7c...,Male,IN,Bachelor semester 4

In [15]:
user_data["userData"] = user_data.apply(lambda x : {col: x[col] for col in user_data.columns if col != "identifier"}, axis=1)
user_data

,identifier,gender,section,semester,userData
0,409af2188426d31768163f9db90f57ee738aeaf0c761d4...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'..."
1,fd72fd0e1055b5f8ab7eabd631a84896575291b5592e66...,Male,SC,Bachelor semester 4,"{'gender': 'Male', 'section': 'SC', 'semester'..."
2,ba65e347859e087307971a7348a3b552fb655f9bf82abc...,Female,IN,Bachelor semester 4,"{'gender': 'Female', 'section': 'IN', 'semeste..."
3,43510d84df3d9289af7eb33da46ab0ebf212ab78107f69...,Female,IN,Bachelor semester 4,"{'gender': 'Female', 'section': 'IN', 'semeste..."
4,6538b7a72fae4173dbe8ba580e01145afaeb0f31b3f2f8...,Female,IN,Bachelor semester 4,"{'gender': 'Female', 'section': 'IN', 'semeste..."
...,...,...,...,...,...
459,d03cb94868d7249d51f13c0589bec349d36844fc006dcc...,Male,IF,Master semester 2,"{'gender': 'Male', 'section': 'IF', 'semester'..."
460,67d3e01046e32192d65b7665aefc5af529734c3e14cf83...,Male,SC_ECH,Spring semester,"{'gender': 'Male', 'section': 'SC_ECH', 'semes..."
461,169293dc5d04fa93ed8074d949d7b13346ecf3a9888cc8...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'..."
462,384d32131aea1bcadaf651ea56feebe501b1f3c4bc29d7...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'..."
463,2e8d9884328aae9a5984c48783cf5b4c5569515a2c2a7c...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'..."

In [16]:
userGrades = pd.read_json("DB_CS250_Snapshot/anonymized_grades.jsonl",lines=True)
userGrades["userGrades"] = userGrades.apply(lambda x : {col: x[col] for col in userGrades.columns if col != "identifier"}, axis=1)
userGrades

,identifier,coding,midterm,final,grade_out_of_100,grade_out_of_6,userGrades
0,409af2188426d31768163f9db90f57ee738aeaf0c761d4...,100.0,58,72,72.5,5.00,"{'coding': 100.0, 'midterm': 58, 'final': 72, ..."
1,fd72fd0e1055b5f8ab7eabd631a84896575291b5592e66...,100.0,47,46,53.5,4.00,"{'coding': 100.0, 'midterm': 47, 'final': 46, ..."
2,ba65e347859e087307971a7348a3b552fb655f9bf82abc...,100.0,84,82,86.2,5.50,"{'coding': 100.0, 'midterm': 84, 'final': 82, ..."
3,43510d84df3d9289af7eb33da46ab0ebf212ab78107f69...,100.0,50,49,59.5,4.25,"{'coding': 100.0, 'midterm': 50, 'final': 49, ..."
4,6538b7a72fae4173dbe8ba580e01145afaeb0f31b3f2f8...,100.0,90,70,82.0,5.25,"{'coding': 100.0, 'midterm': 90, 'final': 70, ..."
...,...,...,...,...,...,...,...
459,d03cb94868d7249d51f13c0589bec349d36844fc006dcc...,100.0,65,67,73.0,5.00,"{'coding': 100.0, 'midterm': 65, 'final': 67, ..."
460,67d3e01046e32192d65b7665aefc5af529734c3e14cf83...,100.0,87,86,89.1,5.75,"{'coding': 100.0, 'midterm': 87, 'final': 86, ..."
461,169293dc5d04fa93ed8074d949d7b13346ecf3a9888cc8...,0.0,40,46,46.0,3.50,"{'coding': 0.0, 'midterm': 40, 'final': 46, 'g..."
462,384d32131aea1bcadaf651ea56feebe501b1f3c4bc29d7...,85.0,84,79,83.2,5.50,"{'coding': 85.0, 'midterm': 84, 'final': 79, '..."
463,2e8d9884328aae9a5984c48783cf5b4c5569515a2c2a7c...,50.0,75,58,66.5,4.50,"{'coding': 50.0, 'midterm': 75, 'final': 58, '..."

In [17]:
users2 = pd.read_json("DB_CS250_Snapshot/users/documents.jsonl",lines=True)
user_data_merged = user_data.merge(users2[["identifier","_id"]], on="identifier")
user_data_merged.rename(columns={"_id":"userId"}, inplace=True)
user_data_merged = user_data_merged.merge(userGrades[["identifier","userGrades"]], on="identifier")
user_data_merged

,identifier,gender,section,semester,userData,userId,userGrades
0,409af2188426d31768163f9db90f57ee738aeaf0c761d4...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'...",js7dgr0d8dd0wkwxpe4vta5s956mmymm,"{'coding': 100.0, 'midterm': 58, 'final': 72, ..."
1,fd72fd0e1055b5f8ab7eabd631a84896575291b5592e66...,Male,SC,Bachelor semester 4,"{'gender': 'Male', 'section': 'SC', 'semester'...",js7dvsm1vdajp3vq0mbpc7zkds6ms94f,"{'coding': 100.0, 'midterm': 47, 'final': 46, ..."
2,ba65e347859e087307971a7348a3b552fb655f9bf82abc...,Female,IN,Bachelor semester 4,"{'gender': 'Female', 'section': 'IN', 'semeste...",js78dkftemm1n5ms3xfybktrr16mbwve,"{'coding': 100.0, 'midterm': 84, 'final': 82, ..."
3,43510d84df3d9289af7eb33da46ab0ebf212ab78107f69...,Female,IN,Bachelor semester 4,"{'gender': 'Female', 'section': 'IN', 'semeste...",js7ezpapkygej698pz9yettmpn6mhsaw,"{'coding': 100.0, 'midterm': 50, 'final': 49, ..."
4,6538b7a72fae4173dbe8ba580e01145afaeb0f31b3f2f8...,Female,IN,Bachelor semester 4,"{'gender': 'Female', 'section': 'IN', 'semeste...",js7454x87sqbg8wfqgzet7dd8n6mg0jr,"{'coding': 100.0, 'midterm': 90, 'final': 70, ..."
...,...,...,...,...,...,...,...
458,d03cb94868d7249d51f13c0589bec349d36844fc006dcc...,Male,IF,Master semester 2,"{'gender': 'Male', 'section': 'IF', 'semester'...",js7cbyke1gannssqcev8cghe9n6mb60x,"{'coding': 100.0, 'midterm': 65, 'final': 67, ..."
459,67d3e01046e32192d65b7665aefc5af529734c3e14cf83...,Male,SC_ECH,Spring semester,"{'gender': 'Male', 'section': 'SC_ECH', 'semes...",js757rhzzwv21y6hqd6kafvtwx6mbsb6,"{'coding': 100.0, 'midterm': 87, 'final': 86, ..."
460,169293dc5d04fa93ed8074d949d7b13346ecf3a9888cc8...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'...",js793s2ssf0xctfnx7hn49jwbh6me0pm,"{'coding': 0.0, 'midterm': 40, 'final': 46, 'g..."
461,384d32131aea1bcadaf651ea56feebe501b1f3c4bc29d7...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'...",js73qg870qxv6dmtdvbkbx1k916mkt9h,"{'coding': 85.0, 'midterm': 84, 'final': 79, '..."
462,2e8d9884328aae9a5984c48783cf5b4c5569515a2c2a7c...,Male,IN,Bachelor semester 4,"{'gender': 'Male', 'section': 'IN', 'semester'...",js76npfjvyjhmg6tx82b9xz8316mdzf3,"{'coding': 50.0, 'midterm': 75, 'final': 58, '..."

In [18]:
logs3 = logs_ts2.merge(user_data_merged[["userId","userData","userGrades"]],how="left", on="userId")
logs3

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,exerciseName,controlGroup,userGroup,week,timeSpent_quiz,n_mess,timeSpent_message,userData,userGrades
0,2024-05-11 15:56:52.688503174,k570005nhp144860betwtwy7v56rx64m,j571kc5p8ah7yvj1xhng7nzpgs6rxy2m,k179wpzex0za69rx2wyv02e9hd6rj4fb,attemptStarted,js71tk2nax2wvs97m3vgc5erp16mds09,reading,NaN,NaN,NaN,Kruskal's algorithm,A,A,Quiz #9,1.769433,NaN,NaN,"{'gender': 'Female', 'section': 'IN', 'semeste...","{'coding': 65.0, 'midterm': 98, 'final': 86, '..."
1,2024-04-16 08:00:01.116921631,k57000a4rv5wgy13d63pqyt51s6qb2vv,j57adjsev6qjazakv9p4ad7qwh6qany3,k1710bmgh2mwgaqv7sjkmmfh1x6pveqf,quizSubmission,js7ese808vctnr15sy1te2pvx96mndmx,explain,"{'answers': [2.0, 0.0, 2.0], 'correctness': 1....",NaN,NaN,Optimal Binary Search Trees,A,B,Quiz #5,18.036219,11.0,16.125910,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 63, 'final': 72, ..."
2,2024-05-20 16:28:14.092592285,k57000d308fpr45yqrprf6wrs56see5h,j572qtbd19x89mraje17mmj30x6sen0s,k176kkt806khrpxnctb9hczm316rtsrq,quizSubmission,js78b7hq6r6pk2c0mm9d2he91s6mjb8v,reading,"{'answers': [2.0, 3.0, 0.0], 'correctness': 1....",NaN,NaN,Dijkstra,A,A,Quiz #10,12.279168,NaN,NaN,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 100.0, 'midterm': 55, 'final': 35, ..."
3,2024-04-18 08:10:36.998193848,k57000m99awdk4jw41cjfe4jkn6qf1jj,j572w733907q5k2w0kkk4a19z96qfaec,k171kqa60g6a9qpm0f0jv07wn16ptnr1,quizSubmission,js7e56b2v2t5nacr7e4n8dnn3d6mb606,explain,"{'answers': [0.0, 1.0, 1.0], 'correctness': 0....",NaN,NaN,Breadth-First Search,B,A,Quiz #6,712.725918,13.0,13.314908,"{'gender': 'Female', 'section': 'ING_MATH', 's...","{'coding': 100.0, 'midterm': 82, 'final': 81, ..."
4,2024-03-13 16:35:30.072217773,k57000mdpmrfm67q4eymvsbqns6n6ezf,j571e3e401tqj2mag6mjgrcynx6n7t96,k1715d99fyvzt35jfm2638g3nd6n35z3,exerciseCompleted,js7534h7gnm8pmyem0n6ttdb816mb94w,explain,NaN,NaN,NaN,Heap Sort,A,B,Quiz #3,9.432901,9.0,3.208412,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 87, 'final': 68, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150892,2024-04-04 09:59:25.539958252,k57fzzawztspx74s56dd8v9g7h6pkea6,j57cq176xgq49ebe4hq4ec4bb96pjfc1,k17asvnfeyp3q949hdkwjq2and6p2x6e,messageSent,js7ejegwwy13npt4t5xmxfaze16mf7wj,explain,NaN,jd765cr60qe2ygzfqsgq9950996pj5fm,jd77rttn3djr1548bzs6jp24hs6pkmyv,Matrix-Chain Multiplication,A,B,Quiz #4,6.870883,13.0,10.088254,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 60, 'final': 40, ..."
150893,2024-04-23 10:58:30.496422607,k57fzzbpy6sndtetjcsrfm8j7n6qrk4f,j573jw31r3p36xs9prfbskv8sn6qshfr,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,feedbackGiven,js75phnd9pfy1mp9b3s4w94f0d6mjzaa,explain,NaN,jd70ajdywrabes973rbs30j3ax6qsnfk,NaN,Depth-First Search,A,B,Quiz #6,156.682048,35.0,891.539077,"{'gender': 'Female', 'section': 'SC', 'semeste...","{'coding': 0.0, 'midterm': 76, 'final': 79, 'g..."
150894,2024-05-06 22:05:16.395833740,k57fzzdgj1jvxwbbb443hfkej96rkktd,j57ck5p09yecbjpse269svw8eh6rkapf,k1768n9arfqk6vpqtsaxgs3m156qx8mp,messageSent,js77jjffzjf9pskspa6hh9sknh6ma65a,explain,NaN,jd764p5pff8zfxjf67f3rb2rgn6rj0xv,jd7920e1qrchh4fj403hjw9xj16rkyqt,Edge disjoint paths via max flow,A,B,Quiz #8,24.978101,25.0,10.592223,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 50.0, 'midterm': 49, 'final': 58, '..."
150895,2024-04-18 12:31:21.107867188,k57fzzgqsqtqrqm43bfrgpazth6qfv3c,j573hc3tac12sym478a3f9634d6qe4yq,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,attemptStarted,js77gaavvhwwnth677vgafz3sd6mbgt9,explain,NaN,NaN,NaN,Depth-First Search,A,B,Quiz #6,7.121689,13.0,4.801819,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 65.0, 'midterm': 77, 'final': 87, '..."
150896,2024-04-23 23:42:35.980069824,k57fzzpd64sqx8fsmy4j1afyrd6qsc59,j572fx0aen3kjntt6h1ghn8kkd6qrxfh,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,messageSent,js772btmge1q78y2b716fgyjxd6mmktb,explain,NaN,jd70d9kx58fxkvtb2t5nj9rtb16qsghj,jd77wf1rmmxxfb7d4xqna37yj96qrwx6,Depth-First Search,A,B,Quiz #6,NaN,15.0,9.021360,"{'gender': 'Female', 'section': 'IN', 'semeste...","{'coding': 100.0, 'midterm': 62, 'final': 52, ..."

In [19]:
users = pd.read_json(f"DB_CS250_Snapshot/users/documents.jsonl", lines=True)
with open(f"DB_CS250_Snapshot/valid_anonymized_identifiers.jsonl") as f:
    valid_users = eval(f.read())
valid_user_ids = []
for user in valid_users:
    try:
        valid_user_ids.append(users[users["identifier"] == user]["_id"].values[0])
    except (IndexError, KeyError):
        # Ignore the error and continue with the next iteration
        pass
print(valid_user_ids)
logs3["valid"]  = logs3["userId"].isin(valid_user_ids)
logs3

['js7b3v4zm7ck6gfrbszka2xrqd6mcafb', 'js79jxes9fvwncxyzgtb8twntx6mh60p', 'js7b1w7ynja0n6g5d1rr7c773s6ma3n7', 'js78kvh0vzc2c7eejs6cz61rdn6mhhgg', 'js74pf2m8e8jrz2gg9s1hep35s6mfngw', 'js74rtyskgxt8wmnz35fsjwt8h6mdw23', 'js725t4xf89kx3xkydecq6ahpn6mfse8', 'js76fbh084j5tdeaa55epwha356mfab2', 'js72fgshqwsrghh9nyhcz73dtx6mmzta', 'js72pp4cjyem9s6x0r4cm99hdx6mcq58', 'js7dvsm1vdajp3vq0mbpc7zkds6ms94f', 'js7edy4cz6zbqjg373e2rnm32d6mekbz', 'js7e3hs87vrmnnm9fzma135btn6mgd29', 'js76e9y9f04fgk56a4817d1qa56mbszv', 'js71yt7g8d5mvbykapvjn5x4a16mc32n', 'js71kg73z66z0d2zh94wraaeg96mqpbb', 'js71v2af0tfkjx57xy21wqhyyx6md2et', 'js7bewfegj93szsr9cqxe5hc6n6mkr96', 'js72sr0aj5f7bkpmysybmw48ph6mathd', 'js77jjffzjf9pskspa6hh9sknh6ma65a', 'js771zzv7xrf2tqrm119961kwd6mc1x2', 'js73z7rencz13vsq7a0g6ta8c96mcn7j', 'js76bctjnnch2rt1xwtx5dk5816mqwkr', 'js722d7691qcagwwxy6atxm5ps6mkt4c', 'js70c7dm9p3zn0bq2gkzmvdw6s6mqbfy', 'js73ezxcsgx591bne9tbzxqsm16mpsnf', 'js77c2682g7g4qg2d780garyss6mb6ee', 'js7fbyrrpw5pay6n0jhwn218d96mczgs', 'js73q8f539j2hq35t0n22x38ah6mjvbd', 'js76bz7qb0en7fn2815zvwr19s6mkh2y', 'js7583wrx2z34e47y252qp5enh6mdr0c', 'js70gajsgdyqsvkx7ad2vr83416mkwey', 'js78m44fnxtatzp5mcq8yszvc16mfnjv', 'js78qgye39ncszmzv6w5qcsyz96mcnz3', 'js7dn7v0xt4jj5c52qh581zbgx6mjme4', 'js76t883ta8tn2wkaccwwh55jd6mbt4v', 'js74b847htmaphraar4s74dngd6mhmpg', 'js7158kjqcd2cnqyyartcm51n56mbkkg', 'js74ztc256bygfvaajnd1zvkxh6mbbae', 'js7cyrx2pjy9zgf4t8jayg29ex6md97s', 'js75nf1nyz9qtr4pv6hdv4r9zx6msy32', 'js7a97y8rk1w2nhexb27ye2fhd6md38k', 'js793s2ssf0xctfnx7hn49jwbh6me0pm', 'js75sbmhxpv77bc42c49ce6z2x6madwe', 'js7d5xgv602das5phd704dcknx6mbkmt', 'js76yt2r3fdjsmf8ckmkpm2v0h6mfe9n', 'js703kqqdknp6c0t3vvs4vm9796me6pz', 'js79d7mh1s0kng4774cf30rek56mcy2h', 'js709tpqa8gy5pa8gpwgn5cth56mfcs0', 'js7ese808vctnr15sy1te2pvx96mndmx', 'js7echwbb7jk2hrxxtfg4r40c56mfmxx', 'js7cjcmgyn9mhbrqb27sec043x6maa4s', 'js75eqwyeaywjjsrxa9w4xmpj16mc8d5', 'js7fcpvxhywejfv5bsemjvp3e16mdfp1', 'js7dcrngbjbgyrmschr7ajmrah6mdpxe', 'js74771p0ms3wbmthsc4y36bvn6mndgg', 'js77be190p1qwef45s7b5006jd6mee0d', 'js7ds9kgpwns2pm7r8jhqtreqh6mawxr', 'js7aqf2hjqbk9qbswfvswvgrrn6mdt72', 'js7f8p4456h8p3f9am33n8p3f56mc1k2', 'js7454x87sqbg8wfqgzet7dd8n6mg0jr', 'js71bvntc98j80rtjc8j2h342n6mfatv', 'js78a3xxs2mx1p5ka11bx84xxh6mm4fy', 'js73mahq5pdv169k4sk4n0d2q56mj2w5', 'js750v5rfy2d2vndhsn21280yd6mmwmx', 'js736exgjafv1c4kd35bq9fd056meekh', 'js763zspw1bnr2yy3fbcrmbfh96md44w', 'js76vyay4s8b34rz9eacrqbts56maqm2', 'js74v6dm6dxvny2wv02dnbn0w16mfcqx', 'js78sq75dqb90fdhtv1gv0ph5x6mfbpf', 'js7044v9qd84g100773rbacs0h6mc5s8', 'js7brypa69ftj00t4d6fy1zxxs6mpc63', 'js783pdcgjmdrnpbkn24dcsfc96mg4rv', 'js73dpxgy6k3mzbd5wazynx12n6mcgs4', 'js72age4fwftyv7qcxbb00ve9x6mezsb', 'js71rfjyk118rdbdmtee853xtd6mkh3v', 'js7bpta3fezz7f0fkhsar22b7h6ma7nb', 'js7cfdnma3mmbepfq9pemj16sh6mqznk', 'js7e96bkj2e7wqmbak0gzes0z96mfx0b', 'js78f68wz69s1m9s5eydg6njtx6maep7', 'js72qqag0v1yknjxad7f8ty1m96ma5h5', 'js75bnt5z5b5135ab729381g3x6mepx0', 'js719zw7zpnssdqa0aabt6c42h6mdyb7', 'js703803qnyqx4ccg4fsgtc6mx6mnghr', 'js756qz8vw2gz20kjz7h1vqrys6mnxb7', 'js7aj851ybvymny05pbzbvgbws6njxp8', 'js701chb5jpjscfngs17shmd6x6mdke2', 'js7fp1zhnjjmas40e28eb05hzx6mby66', 'js794ywfdgz2ynds1jhjba7bwh6mchag', 'js7a9p1c4nz2hp8zhx45kthxg96mdewe', 'js78ar4y7ry2kjyypj5tdfh3xh6mnz7y', 'js7ey2qz0kg6fwh0xc7g47tsz56meekz', 'js76tkpvb2xspj3ddeq70qqk096mgkq4', 'js7755ydtpbepvwcc6xkhbgk196mdfa2', 'js7aed69b7pytxqg4gm4n01jph6mqdad', 'js77d0egprcbw0nnxsj26sqskd6mkwwp', 'js7984yjpe01cj1761gygtt3dx6mafdh', 'js70hdxwyqmbw8q76kyhm7dqnh6mcrd1', 'js770pqem3bkw972m32z69ww7n6megrw', 'js71wc23vaez5cf6mg41w1c6316mpyjj', 'js7c830yxa4ezfxp6zcwjjs0hd6me2wb', 'js73sjexcnqfqkgz147hnwgrc16mnd7q', 'js74jr9c4cnqhjds24d44j4kmh6mb07r', 'js71pr3cskxx1qt7rnvjhx1sm56mckfv', 'js781cy0rk35vdrxb47p68nkwh6mba51', 'js72qmvap8dh3bbnzzcy8vm1a16mhq5p', 'js79abn9g1cmw58yydfdqqnzv56mbqq8', 'js73hc8jzwr5rpvxv9xc21e9rn6mgzy9', 'js715wewf7m78dwe1j1tj1m8zh6mndh7', 'js79za16g61v4gmpmqaqdsf61x6maex3', 'js713ctghcmxssscwde26cbkrs6mqzre', 'js7es48ybtpk6jvzwr73q87t5d6ma3bh', 'js7ehebd88epzdkz1gk04ek3t56mcamc', 'js78p4r7d91nrq7e8vxgrpxyg96mcnyk', 'js7102bb5fzsnrtzphk36w3a4d6mek6f', 'js74qga7pav2xtjw3z73q7m7sn6mdg7w', 'js7130x4ayh7hdjvkqynr4waw16md97b', 'js7ajzve69w6aabph9jbg9xffn6mbcsh', 'js787qkmcfjercwy8f69n97hg96mc42h', 'js7027crpz6dgr21n6efxsd7096mbybk', 'js77y3w5zx2m6ssmhks2076xah6md5tn', 'js7bw8exs4mp2z7xmasem78brn6mycr7', 'js7az77n0yh95gremy0rgq0b916mj99b', 'js72jevx71vwhwnym87f6z39y56mhyn4', 'js7apc4p5kbrgf06h254dd8rd96mghpq', 'js75d1v4ckthbfhpn1db1ggk096mf90q', 'js7636qxyx41pg59t5vt1se6j56mfnys', 'js76xv4f6h6t96zha9v0mmdn7x6ma9ry', 'js7bqnww1wfasjafn34m0cdjas6mazwr', 'js73damppwcpgkyyrk16w8mvmh6mqb00', 'js715dpya01pyhh346hx0j2mw16mansc', 'js73c4jd1hggdt795m1evmzzr16mbza7', 'js7f87nd691tck43668rjbxj996md5nv', 'js7aqa0p3ymtbzrkz08txwmtqx6mcr9q', 'js7f3bjv5yyvwq0smd64mx67bd6mcqrh', 'js770989kevfhk4k83ckvaxq4h6mq7kp', 'js7bnvs0mk6ztpf8vjg0t0pv5s6md0zt', 'js757rhzzwv21y6hqd6kafvtwx6mbsb6', 'js73r9kxbxxat1cg16skttkqch6mbbjt', 'js72jgcyakq5sqs8nqkzk0g4vs6ma56x', 'js788g6wva4wm72czjvcet4hr96mdr58', 'js74j6p0cmbvckxnnj342dx1ex6mb49n', 'js732pn9rkabbp9hxw23g6vs4x6mbsyf', 'js75nncvasay2r45dv8p1k3q0d6mb5q8', 'js77fpv30378455jed9spcx2xd6mes2s', 'js75wevgjyev4xfsf4jabqgngx6mb3zf', 'js7dkqrt05r3ag922f1qavjv7n6mf97c', 'js7f8kdtkjrmqxxvz26gsykw7h6mbzmv', 'js7ezpapkygej698pz9yettmpn6mhsaw', 'js7e7vdh4kpe1e630ypxfm0ren6mek5q', 'js75hpq7bafb5je9ac8eezdvrn6mc4sb', 'js7f1yzhjf1d6xea1c5qpvcex56mcbv4', 'js7cp4awavjtzqazfjc0669pz96medj7', 'js73msf5jzhacrbqgt14jpkkqx6mdkt8', 'js7707m7t4t4vyt7s43qt7z1kx6me3eb', 'js76k0j5m3ekf9q40byzcjk9js6ma8kx', 'js75y4kyeyj5yjxjan744s768s6mjn9k', 'js7bvg21y3n8gbnbewsktb69g16mbjrh', 'js7eqcc42kn2cm3w92pjz0eyk56mn9yw', 'js76rb4xj7vftqxyct0y9phh956mmw50', 'js7enjmh46t4wtwkdx4w455kv56mfy4d', 'js7dgr0d8dd0wkwxpe4vta5s956mmymm', 'js73nkfp7p9e5ty5v6zb1psp616meqhx', 'js7bnt17t6bv5akd3131c9zqnh6mhccq', 'js7666f1m0qqdg5hnf0a86pybx6mbvsm', 'js70qntm0713ajmdh6r2at8a7h6mf2n0', 'js74a1kvcnewes7090r6b5h08d6mfrfp', 'js78b7hq6r6pk2c0mm9d2he91s6mjb8v', 'js758mx0wxhyf1tejx2af65gf16mj2b8', 'js73p9yr7yy992exese3cy1rth6mac8c', 'js79jzrhrt4w75gr0604ef9nv16kttee', 'js78r5v4zma2hp887kva5tsy316mhbxd', 'js7c0dpsbh3rh33g0gp9gsrcy96mb6ee', 'js7cq2rhmxa169ye0e2whve2r96mb8dp', 'js7fahtsyq196wxhewx7bmtjzx6mnj7p', 'js71yq84t928mxg1e1rabqksrh6mdbmp', 'js7e952r1anf5vc3rhtmd199j16ma6fp', 'js77vaa54knv915rj3vxwftjx96mfgg2', 'js77synyz0kzjzyayqrb2z11ds6mbb1a', 'js74v0c1xhdmfrkfhv5fy5jq1d6mawz9', 'js79sgmf8wkstkxhe58y97c0qd6mdvb0', 'js736mmqgqnfr260454f293epn6mgtda', 'js7b5302pz34ew5ma10jfahwm56mdqnm', 'js73b5bemnhwypa40tjnvbbgc56mba4n', 'js74stx9tab9e7b7sjh898wpp96mbdpf', 'js7ft22qhq69gmw1s2hzr395fs6mfc4s', 'js788ecjy0bjd2azdgf9x43yk96mdat0', 'js73zd9ts5drk3bf0qxqhb32a96me9y6', 'js70bmxk8728q8ms8sm4fw4xax6mb98p', 'js7bj0kw9r0a7p708166mzwkmh6mj1mx', 'js782158ba88s2qm6m7620df816mcb1n', 'js7e8fb5c4bxm2khn3yd02qn696mew2g', 'js7dxp2xp8r65qxejvs77b1gvn6mg4a1', 'js70771apc1r9etj2f9dbt33ex6mp213', 'js75z2wr04v4kq0nhp9t6pexhd6mfvry', 'js78v5dpej1n6ee7h7mc48a4a56md0nz', 'js753cp7yap63vbfs2sn3ya6xn6md53f', 'js7e6hx7x33s4q1gtt9fsa9aj56mdqfx', 'js7bbrw4v9vf172fea2cfytq8x6mj5s9', 'js712pgdx2df54faz5cytvcmsd6mbt46', 'js7ewe6jm9hhk9rgfckaq64nh96mahgj', 'js726pqhe9kdaazj6n1jmvnmed6mntqk', 'js7a5xh4ge042250yqkqr3kxa56mjnmf', 'js700m63vztkq4ytws5fwxv2e96mczrf', 'js7072xmktpc4cp0gdxt2tj3hx6mf4ze', 'js7a5rv5wh2w9x46d9a67xjncs6mn7jd', 'js742s9vc0mt382sxpw9vf8nfh6me33z', 'js7f82fhmyd000nejdp170tcp56mdt24', 'js7204a075j1hfa784zazym8dd6mdf5e', 'js75xfp2h55x14p9g4zhf2azw56mfxby', 'js7b6stmv2t7d5nm88b2fhsw616mnsrg', 'js79qs5mn9mk4z3z7tvxv8p1qd6mnqg3', 'js71pb5yrsq45dz109f2417rpn6mffpz', 'js75gmh1ccyre73nxw25rnay2h6me4dn', 'js7f8deebaqtk47fx0389577116mb4v2', 'js7e0f1fvgb2jd3bkxg3p4jats6mbsvf', 'js77b32yxzf4q2k0ft8tced2fs6mktdq', 'js7ewdbjpmvv9p5canp8t8ra3d6p3rfv', 'js7534h7gnm8pmyem0n6ttdb816mb94w', 'js70jb4ga5qjj8223tjqfvxhfs6mbqk9', 'js76s8pjcrrxczc4txdt2npy756ma12h', 'js7f3va5ppmwpxxt9yebebbcb56mq380', 'js7dy95qp3jbq1jzdn4m48my596mjjkt', 'js77eq4he0hfm62f96hwvkhkdx6mqz68', 'js72d43h72qdexv3xaz8hx49896mc92p', 'js7e0jfnrg57s4cvr79vqmqmy56mg4rj', 'js7fevm1btqznxbqs17c8hmy0s6md575', 'js7053b335yw7synkq40064ag16mc1fc', 'js7d8kdekvrw6h0gs5wkdrnfmx6mb6y1', 'js781syk6h8w51rdyy8pgmng3x6mb703', 'js7ch0wwp59nbryn5kpj1waxn16md7qe', 'js793w9ra5w3pk8kpk5978b8an6q0bjj', 'js7c6h3nzmjtsvvcrpr1rcg0256mbvrk', 'js7ec9k1ekf5qves6wyezfyw1h6maqyy', 'js73e0rmemg55q91848hsmw31d6meym5', 'js76npfjvyjhmg6tx82b9xz8316mdzf3', 'js7d9z20ynsbgeknqzc5v57vqh6mh5j4', 'js72st2jc1z5yw4xfxq6btg0rd6me9v4', 'js7az76xqkgvazhhkkvg2r0rsd6mey4h', 'js7cjhza32zq3yz02hgd01wkv16mejzc', 'js71tk2nax2wvs97m3vgc5erp16mds09', 'js7f7jrdhdfgnkcw5dab7bsv416mhqb3', 'js7fk5y5wgv0mv3p8g23a9e6q16mdwh4', 'js75qy3ew94n70kzr6p644japh6mb5bx', 'js74a5af9hz3yhy56t2gbeqdzd6mf62w', 'js7f12vdy8bnvka9hwm04aqths6mahd4', 'js778t20d8vzhy0780rtfhp5bx6mab2e', 'js770gtc71hjt59gn0n6xmx9an6mb4tq', 'js78xy73dcfhs5gz3hhx89b99d6masj0', 'js73t5rvpr3a90mdxdd8yvrzkn6mmp42', 'js7en4ajykg4d5t9hb9n2jdv1d6mp00c', 'js7dfm6gbhfnw838g22wjynnr96mmmm5', 'js74bee168c3m9qtpwj7fjjt496mgx7x', 'js71nw2bhh96wevcr5j5sstsh56mj34x', 'js77akgaryhasgssdme06xxhwx6mbvy7', 'js72f4tsn6k4t370ncy8xw620s6mafn2', 'js72sf7wxj8vzg0tr7jg5425m16mb3d7', 'js7fhxr0fdynhja49zwck7dhq96mfq5e', 'js72s3x6qh9rd266x1pfg4baen6mhyd9', 'js7ejgs8fed2fkrf4pvyazhxz96mcpz7', 'js71s89j61s7hkwp6ne5ch4wb56mc1eg', 'js7bw4sj4er4amn188105ef6nh6mc5mh', 'js7fg1ttr4f60qcjedx32knejd6mbamj', 'js7c9zpq5yswae78zbz1en6m616maff3', 'js750g89hynpx8e5wrt4hxxmp16mdq0y', 'js736926tyggf0htbbzhg1a6ad6mcqgz', 'js778sh66zee3w7hqks5pevqvn6mds61', 'js79brjbk2p5vtx28ddw5yvma56nd5y4', 'js7cxqvkys3xe0agw4pg2tawan6mmac7', 'js7e56b2v2t5nacr7e4n8dnn3d6mb606', 'js7a0mz39s5d87gh0vybtr8zjn6mdf6j', 'js795387gqjgjpcxw7jvzg6j556mmjma', 'js73f3zkexhjnskxw9xvx4rq8x6md8w4', 'js72scetcm5w4sv1761y4eg5vs6mbrm7', 'js76ng5bwpfbtqjep77r78jzh16mdh77', 'js75j7441x64dwgwg1pkzcvhsh6n4hzk', 'js76zrnxk12nmzpgkmxqxmq6bh6mawva', 'js70gyeka2htnak9kenh2xfanh6mbq7h', 'js7csq94nmxk7krxjmq3t5cr516mm95v', 'js7fscf26jbx8c66m5m636wztx6ma5fc', 'js73h6tzpnw1m5hab5eczm7erh6madez', 'js702qffrtgznk6v7kf1dvhq3x6mafw6', 'js7bdqgr2770bzwnqmvmg6r46n6mpc4f', 'js71cvxk6vadzdz6kwrys6m6fx6mh4hm', 'js7b6zt0d8nkh10r8ct3b3k9716mpck2', 'js7bzd4vazmhh43v9yx60nvf6h6mek5w', 'js78ykx0ka154h1xbra58bq44d6mbqkt', 'js744qhe3b6vmbpdyk8gxenygh6mqdc3', 'js73a47bgwcdvkhf4kd997ebhh6md9jg', 'js7ekj0zt7c9xk3d6baw0s95f16mf4e1', 'js77sw2dk8b7w7hdcqxs62p1kn6mp29e', 'js7eqzp66escehk39wee0pegxx6mnrqx', 'js71z7djavv7h2hrwk9cghy29n6mmgy7', 'js73dzgbm26hktdxmna5vjhhw16mhnfy', 'js71mechg559x6zh5tq82hh6vh6mhxws', 'js79dkq8sdp659181nxhre2zdn6mhmkb', 'js7d62faanrmam8bpgzwq3j19h6mk00a', 'js73pxy5kh2337dq8h3zrm19316mctt6', 'js71npmn5x2gqxafxv24g995616mcdzg', 'js7f803h46w6ntnk40g7yqt3nh6mqkgw', 'js7941r3wqmxnn0yjgeyjnrh496mdmec', 'js72pg9sza07wtn7tfny6pmvz16mdcy3', 'js70d5r6nn5eyxned187ynpjzh6mf05w', 'js7eakggv0pfzmyggxj613bpzh6mfax9', 'js77akf8qx7fbp888rsn3z1yrn6mdkbf', 'js79rarxsv7x50gjahzb4b41p16mmgwd', 'js7ea0ntpqw6twvvnzbsha1fbs6mmxwg', 'js7a3heb7d3d0jb7t41w46knzn6mqm3t', 'js76qc1kst992xrdwmd2zdvab16mfrj4', 'js7984yfy1vs0err019pd059bs6mtzjh', 'js7b1413e1z8kvfsgj1ar2fpx56mnnfc', 'js7b4w0rxzfzcmsbyh0gcs84516mkgmk', 'js7dckbbdsse4a5kypsz9qn4fx6mjgm1', 'js75z2sg6rk8qs6zgchk2wwd2h6mmakk', 'js7fzrkvsmssq18sm3j0pnsgcs6ms3hm', 'js764d6szkc9j3dvn6nwb7hcm96mn93v', 'js75phnd9pfy1mp9b3s4w94f0d6mjzaa', 'js72e99j78d0thce52z0w0594n6mbthj', 'js774gbjf2p7ncn4gxwgw2hvnh6mn4z4', 'js7desk77npc8r0v85b27s6db56mbhpm', 'js7ex1grd4s1xdga827aavht7s6mkp4w', 'js757cvy6e41t735s904f7axh56ma9yz', 'js76x6ndmk9zcx0bntzk8yr7wh6ma7nt', 'js7avqqge6as381kfscjnranks6mmdbx', 'js75kyrnycyjz3nn7v4re21yzx6menpx', 'js74g9y94wrk0yxp9ba49xaqwn6mdyvm', 'js7fnscnmd3cy845qa3f8gtfwh6mhx4q', 'js70nap2a48wfk8wp8gzfc9rz16mnbp2', 'js7b0pxzfejn33rb8xkc2edddh6mc33d', 'js73jpa2kj4j7qher7ae65wqr16md1an', 'js73qg870qxv6dmtdvbkbx1k916mkt9h', 'js74bf8p6an578m0rmhfd2e4yh6mdzmb', 'js7ednba6xng9rc6va8wnwpcr16mapv8', 'js7cp50k0dyn2j50n5t8bg4th16mf9y1', 'js73k8hfg8wzqe3dr0ffh5m0yd6mmfxv', 'js77bq6tasna08faemz26p45gh6mch7r', 'js7bfe90yqbcbbqzqhyva5gq356maxzh', 'js729sqzq41734rxwy87hjygtx6mqggt', 'js7467mjfkzpr5zyrpjgcvh1zn6mcrng', 'js7ezw8dxmr4j8xgm26d68z3096md930', 'js756wag53ckcv1c4czewf7ya16mmdw9', 'js7b6t88g2m0dbgqh5xwb6yamd6mcqzs', 'js700ez83nkj5anqr0mm15wwg96mf00y', 'js700hrcnazkzxazxgmmt1hy716mb8x9', 'js718hedyd09mmemxnw31ye8c16mjj4y', 'js7b50fs7czjbzqyhfn99rr4mx6mbn7m', 'js752t2qbj6rjpkf9z30v3kwhn6mez58', 'js7byem000sckxwnwm0tj4jsj96me138', 'js7cxny31211ed2w8rf29cg50x6mgp7x', 'js7c68y7h93j3q32zshbpt7tyd6mnj2h', 'js749jccx4w28s4kqv3rnahw6x6meyf2', 'js7aeg98a6908ktrtkzbpysdfn6mbhpx', 'js7dxf0dj60f17skqbdxmbbhrn6mdgxz', 'js7f0nv4awxkk9fvakayt6dvqx6mmenx', 'js7dq0n6p477z5sjvx51wkqmj16mf6vq', 'js7d11mkvra7ybewqw6m946yns6ma1f3', 'js7d4q9rm9qg3sx5b2m08c7dq96mpq6g', 'js78p6b6zhj23ve3f155spz7xs6mazzk', 'js7fnkc73ksjsved7tveyqp7s16mf2ws', 'js72aq07fdjwtjacx6p1rc003h6mpgzd', 'js75j2130z206rscsdaexa36v96mgkta', 'js73nw2p1x6xmm9axn5gjkt2yn6mgwby', 'js7c3r29ha0vj23k9kddbx9gy96mfcyr', 'js74xtqm1gax5zqzszz0yrnfss6mekyy', 'js735n62990vpygfy8tmdfbyc56mc5tq', 'js7e45588qd7rtkj1qxk5d1r016mbc8x', 'js747jwwvyxh6f4m8fp60d0ens6mr8y3', 'js727181mj2sbetxf1ct8h96ks6mcx7z', 'js7c4k29hjdvy8p6dzab7qdgch6mb0nx', 'js73xpgsqcv0gmv0g1w7as97rd6me4c0', 'js77gaavvhwwnth677vgafz3sd6mbgt9', 'js73j5gqm5693nr21mf552v76d6mkp9v', 'js7arvq1zxjppsn97m9r8v20c16mgcgj', 'js7fx0b93h60fvrm7ccd3wsm2h6mmd2f', 'js7dcnmcjjp3hcypqetmn2z5cx6mbg1j', 'js71ygvfks6khavb417bdexssd6mnt2t', 'js77xmgqfxsbpp7q6sczegf34d6mf9s1', 'js7cww0tm3kqs5reqgnyxws7996mnd00', 'js7500r0mcptqpednexvk0y2696ms1sg', 'js71kw1d5asxje7yqygb69f62x6mfkp8', 'js76c1jhzhekacm8c8szxgfjg16mmhk7', 'js7etp9z7zdcckzbm5459xw0tn6mq8x8', 'js74jx5aqa54sqpsbbsjs4gq3x6masec', 'js7bwmyfpr26zp6fz8ww8x35fh6mawpn', 'js7f6bwc11mt0a2s748mfpy16d6mj6q8', 'js74x2wtfwbf5wwb0w711s421s6md27d', 'js70ajs26eszt8wf2yr38kcbr16ma40p', 'js7ajwd6r7vhwxbgnkvpednrnx6md6cg', 'js76fcrc34zgs1r8dtdqsddfgx6mbzz8', 'js7brsc0z1sq013p4qnkg52ats6mnvap', 'js748jba81wt07rea4nj8v8fxx6mg096', 'js7ebc9vjtmsew36rnz822nv216md3be', 'js76z403pwh7kfwbd30wjv46d56mar9y', 'js76m5g9wh37e6px2tyb5psbvx6mg0tp', 'js70qtm2qjwbraxrdw2trneq256mmrk1', 'js765xqjr0y4kzprawtm6wz9ss6mbn50', 'js7chanaspmc8bxksw3d8ws8g16mewsc', 'js72qfvy2mhzd5t4wrxvkdcptd6mhrkf', 'js77kksjpbsvckfq6p7k5z261d6mnnyy', 'js7e9fewrxrb6bsj5pbwdtpfdn6mbvpt', 'js743gsaewndrx4bh6hqk1mqbn6megfa', 'js7d441hmxg12y7n99w6rw6p8h6mdhyf', 'js7d75s1vhdc9j786289jecdg96mck8p', 'js7d2hchkm2zmpjsgpcj19e7156me8e3', 'js77s6wmdsxrkp6594xsyqg7an6me3xj', 'js7617d9ynt439b8gq3wtabzmh6meeqe', 'js739c2bty2pmc6n5mej1hk2hd6mh42j', 'js789rhffgzdcyc5zsazk104e56mnrwb', 'js7af36jjmth6wvv57mj6xc4ch6mbp36', 'js7e39b62ba0jcex40880f9f796mbdez', 'js782jjdtwkc7zvhsa3qe54sxd6ma7mc', 'js7ervajraxsa1268v1nsa9e0n6mdfwx', 'js7bpqk8cxvy13mnwy1bpgwwbd6mjenf', 'js785w3s1m76v6j4jr85s3er556mcp5m', 'js7f0pfn565d0enfbmqpgb95sh6macmr', 'js74qjby995tv6k3kxnevs0sfx6mfezb', 'js7b13nh647wy1cgsnd9r1tdr16mbr0e', 'js749y8b5b00sv3ynvkbr9py2h6mn2zf', 'js72cs5pgac73zgdrrd00hr1t96mmjw7', 'js7693a89dn9cbvde97ga6nndh6mn736', 'js78n684xcxqtc30gwwxds5md96mmv8c', 'js7a773wzxh79d5wmcq0wkgp7x6mby19', 'js701eymksy3328bjj0494p7fn6me57v', 'js76jq8zqwm5kresqhk2ht0rb16qca6t', 'js783mbg4zj8h15jgy4t60q5fx6mj7px', 'js7dg42jyqqd301gf9etf3sc156mann4', 'js7cap155dyp1v1ny2h2qad4096mbv9a', 'js77db1x5sxexnrbr75f8w424s6mqtka', 'js7d978ey8whxkjfjjsdbxdm3d6mceta', 'js7fep6j269gn8nwhb566abxq16mbe6x', 'js7dy7emmsq2bfabx0x38jmqwh6mb8me', 'js78dkftemm1n5ms3xfybktrr16mbwve', 'js721q8jh46mrkmbzf3rn8f5r96mfnpj', 'js767xaw1kh0ppanmj9basd7wn6mdbqh', 'js7bxp2m1kyczf9a65jd7z1c5s6mkr26', 'js76nsa12eh30va08819dv40cx6mjjea', 'js75jpb7gz5v0dcj2fv6pejqch6mbgd3', 'js70dek2c5wk44vbeawdeekw6n6mm4yk', 'js772btmge1q78y2b716fgyjxd6mmktb', 'js79a16kkbj2ft6sse6ky10fyh6mbsk8', 'js7ejegwwy13npt4t5xmxfaze16mf7wj', 'js74x5tbn07hdbsfcab3fqj30h6md9qt', 'js72fmkd2yntbbtxx6sqdns5dn6mkknh', 'js7cbyke1gannssqcev8cghe9n6mb60x', 'js7djmm704anyaaej9ycsna9316ma910', 'js73etmx4vfqt7pgvapd29s8s96mh5t0', 'js7bt2xey03jwz4tg887xzyka56mjqg4', 'js70437wentw3r6fbz0tq64w996ma8vv', 'js7d0kbhf2f0g421e25tmtcvvs6mnzvc', 'js7908rw8tmc5sfm0n6wqm1va16mahk9', 'js7ftfptjf74ca47bdv3dhg1j56kweab', 'js7210s4aj2x5c3t8nsfyf3pyh6mcvrf', 'js7dnpvb1zmrdzht2pdw6ps9ns6mbw9v', 'js795j6r5zr9ejgbzq7y7gra9h6mjzva', 'js7bd263sfq7zvza7cnvtr2n5h6mb322', 'js71zpvjztzz4jng8apzd5xb8h6mfy7a', 'js78rzkprky80n2k7f7w34r83h6maqr0', 'js7et4jwnjcwrnr7k20t0rj0k56mcdcd', 'js70e18eq4cm585ajjhxws6gmd6mfq11', 'js7aw4gjmnbsk3a97ycvkcb7wx6mch72', 'js7aezpdj1nzxvnxx2y249npen6ma8zn', 'js74y4x21ddxme8pv0ae7p8fr56mb08d', 'js797z9nz9eh91bngs0h1xycrx6ma0ba']

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,exerciseName,controlGroup,userGroup,week,timeSpent_quiz,n_mess,timeSpent_message,userData,userGrades,valid
0,2024-05-11 15:56:52.688503174,k570005nhp144860betwtwy7v56rx64m,j571kc5p8ah7yvj1xhng7nzpgs6rxy2m,k179wpzex0za69rx2wyv02e9hd6rj4fb,attemptStarted,js71tk2nax2wvs97m3vgc5erp16mds09,reading,NaN,NaN,NaN,Kruskal's algorithm,A,A,Quiz #9,1.769433,NaN,NaN,"{'gender': 'Female', 'section': 'IN', 'semeste...","{'coding': 65.0, 'midterm': 98, 'final': 86, '...",True
1,2024-04-16 08:00:01.116921631,k57000a4rv5wgy13d63pqyt51s6qb2vv,j57adjsev6qjazakv9p4ad7qwh6qany3,k1710bmgh2mwgaqv7sjkmmfh1x6pveqf,quizSubmission,js7ese808vctnr15sy1te2pvx96mndmx,explain,"{'answers': [2.0, 0.0, 2.0], 'correctness': 1....",NaN,NaN,Optimal Binary Search Trees,A,B,Quiz #5,18.036219,11.0,16.125910,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 63, 'final': 72, ...",True
2,2024-05-20 16:28:14.092592285,k57000d308fpr45yqrprf6wrs56see5h,j572qtbd19x89mraje17mmj30x6sen0s,k176kkt806khrpxnctb9hczm316rtsrq,quizSubmission,js78b7hq6r6pk2c0mm9d2he91s6mjb8v,reading,"{'answers': [2.0, 3.0, 0.0], 'correctness': 1....",NaN,NaN,Dijkstra,A,A,Quiz #10,12.279168,NaN,NaN,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 100.0, 'midterm': 55, 'final': 35, ...",True
3,2024-04-18 08:10:36.998193848,k57000m99awdk4jw41cjfe4jkn6qf1jj,j572w733907q5k2w0kkk4a19z96qfaec,k171kqa60g6a9qpm0f0jv07wn16ptnr1,quizSubmission,js7e56b2v2t5nacr7e4n8dnn3d6mb606,explain,"{'answers': [0.0, 1.0, 1.0], 'correctness': 0....",NaN,NaN,Breadth-First Search,B,A,Quiz #6,712.725918,13.0,13.314908,"{'gender': 'Female', 'section': 'ING_MATH', 's...","{'coding': 100.0, 'midterm': 82, 'final': 81, ...",True
4,2024-03-13 16:35:30.072217773,k57000mdpmrfm67q4eymvsbqns6n6ezf,j571e3e401tqj2mag6mjgrcynx6n7t96,k1715d99fyvzt35jfm2638g3nd6n35z3,exerciseCompleted,js7534h7gnm8pmyem0n6ttdb816mb94w,explain,NaN,NaN,NaN,Heap Sort,A,B,Quiz #3,9.432901,9.0,3.208412,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 87, 'final': 68, ...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150892,2024-04-04 09:59:25.539958252,k57fzzawztspx74s56dd8v9g7h6pkea6,j57cq176xgq49ebe4hq4ec4bb96pjfc1,k17asvnfeyp3q949hdkwjq2and6p2x6e,messageSent,js7ejegwwy13npt4t5xmxfaze16mf7wj,explain,NaN,jd765cr60qe2ygzfqsgq9950996pj5fm,jd77rttn3djr1548bzs6jp24hs6pkmyv,Matrix-Chain Multiplication,A,B,Quiz #4,6.870883,13.0,10.088254,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 60, 'final': 40, ...",True
150893,2024-04-23 10:58:30.496422607,k57fzzbpy6sndtetjcsrfm8j7n6qrk4f,j573jw31r3p36xs9prfbskv8sn6qshfr,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,feedbackGiven,js75phnd9pfy1mp9b3s4w94f0d6mjzaa,explain,NaN,jd70ajdywrabes973rbs30j3ax6qsnfk,NaN,Depth-First Search,A,B,Quiz #6,156.682048,35.0,891.539077,"{'gender': 'Female', 'section': 'SC', 'semeste...","{'coding': 0.0, 'midterm': 76, 'final': 79, 'g...",True
150894,2024-05-06 22:05:16.395833740,k57fzzdgj1jvxwbbb443hfkej96rkktd,j57ck5p09yecbjpse269svw8eh6rkapf,k1768n9arfqk6vpqtsaxgs3m156qx8mp,messageSent,js77jjffzjf9pskspa6hh9sknh6ma65a,explain,NaN,jd764p5pff8zfxjf67f3rb2rgn6rj0xv,jd7920e1qrchh4fj403hjw9xj16rkyqt,Edge disjoint paths via max flow,A,B,Quiz #8,24.978101,25.0,10.592223,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 50.0, 'midterm': 49, 'final': 58, '...",True
150895,2024-04-18 12:31:21.107867188,k57fzzgqsqtqrqm43bfrgpazth6qfv3c,j573hc3tac12sym478a3f9634d6qe4yq,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,attemptStarted,js77gaavvhwwnth677vgafz3sd6mbgt9,explain,NaN,NaN,NaN,Depth-First Search,A,B,Quiz #6,7.121689,13.0,4.801819,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 65.0, 'midterm': 77, 'final': 87, '...",True
150896,2024-04-23 23:42:35.980069824,k57fzzpd64sqx8fsmy4j1afyrd6qsc59,j572fx0aen3kjntt6h1ghn8kkd6qrxfh,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,messageSent,js772btmge1q78y2b716fgyjxd6mmktb,explain,NaN,jd70d9kx58fxkvtb2t5nj9rtb16qsghj,jd77wf1rmmxxfb7d4xqna37yj96qrwx6,Depth-First Search,A,B,Quiz #6,NaN,15.0,9.021360,"{'gender': 'Female', 'section': 'IN', 'semeste...","{'coding': 100.0, 'midterm': 62, 'final': 52, ...",True

In [20]:
logs3.to_json("merged_logs.jsonl",orient="records",lines=True,date_format="iso")

In [21]:
#fill the nans with the existing values
logs3_filled = logs3.copy()
logs3_filled["timeSpent_message"] = logs3.groupby(["userId", "week"])["timeSpent_message"].transform(lambda x: x.fillna(x.mean()))
logs3_filled[logs3_filled["timeSpent_message"].isna()]

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,exerciseName,controlGroup,userGroup,week,timeSpent_quiz,n_mess,timeSpent_message,userData,userGrades,valid
82,2024-03-14 12:51:19.779082031,k57008e420zjrk4rqycsb3g8fh6n9jvw,j57apga7m4k16gfzx0kx7ea8ad6n80zf,k173an7ns7g76j493paexdh88d6n3bsh,quizSubmission,js726pqhe9kdaazj6n1jmvnmed6mntqk,reading,"{'answers': [2.0, 1.0, 2.0], 'correctness': 0....",NaN,NaN,Priority Queues,B,B,Quiz #3,NaN,NaN,NaN,"{'gender': 'Female', 'section': 'IN', 'semeste...","{'coding': 100.0, 'midterm': 61, 'final': 50, ...",True
241,2024-03-18 12:16:54.493211670,k5700rerp2m550eyr52fj1d21d6ngzgb,j57fxf2437d1x35491a2pasg2d6nhy2f,k173an7ns7g76j493paexdh88d6n3bsh,answerGenerated,js736926tyggf0htbbzhg1a6ad6mcqgz,explain,NaN,jd7cgzranz75krvy7h5h17bd596nhp9d,jd7erq8mmc7545z2wwew94x6wd6nhgy9,Priority Queues,B,A,Quiz #3,NaN,NaN,NaN,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 0.0, 'midterm': 27, 'final': 63, 'g...",True
271,2024-04-11 11:15:33.415954590,k5700vkwga3cm4785ymg2w958n6q0321,j57egaecgtvrgbrk9x9jc7b02h6q1p92,k171kqa60g6a9qpm0f0jv07wn16ptnr1,attemptStarted,js741w5t33f39cpf8gpxsxv7gx6m6evh,explain,NaN,NaN,NaN,Breadth-First Search,B,A,Quiz #6,NaN,NaN,NaN,NaN,NaN,False
311,2024-04-22 23:49:50.132401367,k57010acdkh7jdmkcqdekd6b8n6qqy2x,j57e8pd4hfm1vrsyt3s5gqm3956qpz89,k171kqa60g6a9qpm0f0jv07wn16ptnr1,attemptStarted,js79d7mh1s0kng4774cf30rek56mcy2h,explain,NaN,NaN,NaN,Breadth-First Search,B,A,Quiz #6,NaN,NaN,NaN,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 74, 'final': 45, ...",True
383,2024-04-30 08:59:20.864013184,k57017xqr7qq3qgqk1xbg3s7vd6r7zmn,j57c00zhk8fntnpfancf1kn8nd6r6q0q,k172p4g9eanfgsgtkjg0sn49916qgwh4,attemptStarted,js7dg42jyqqd301gf9etf3sc156mann4,explain,NaN,NaN,NaN,Topological Sorting,B,A,Quiz #7,NaN,NaN,NaN,"{'gender': 'Male', 'section': 'MT_RO', 'semest...","{'coding': 0.0, 'midterm': 35, 'final': 47, 'g...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149403,2024-03-13 10:17:58.887569092,k57ftp2shqtx1y64fx9abbbcqs6n741v,j575m0db55tt3x4dbeq4j5c9a16n718w,k173an7ns7g76j493paexdh88d6n3bsh,attemptStarted,js77rjgaxfmzkb1q064wex2gk16mf99f,explain,NaN,NaN,NaN,Priority Queues,B,A,Quiz #3,NaN,NaN,NaN,NaN,NaN,False
149629,2024-03-01 09:18:58.341280029,k57fvd3e0k6krmc6h7x21srdwh6mfydp,j571pqx7q1sdg7banmch3y537d6mfjga,k17986at882ejjew66z1bgx5w96m67y2,messageSent,js75z2wr04v4kq0nhp9t6pexhd6mfvry,explain,NaN,jd71tjbfz1jw1cayv9zjadyg6s6mecbp,jd761swm3eg1628z7dxbvdf0v96me9tt,Insertion Sort,A,B,Quiz #1,NaN,NaN,NaN,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 50.0, 'midterm': 43, 'final': 57, '...",True
149680,2024-03-14 10:58:45.134453125,k57fvjnzzbkx2a2cvd0x4x6hyx6n8qnb,j576bw2qw4kqypw42hbtrphg6n6n8t42,k1715d99fyvzt35jfm2638g3nd6n35z3,quizStarted,js78qw5bbj091w1xv4fwm3f6wx6ksj7p,reading,NaN,NaN,NaN,Heap Sort,A,A,Quiz #3,NaN,NaN,NaN,NaN,NaN,False
150145,2024-05-09 08:53:51.722703369,k57fx7fj7djgzd2t85zzd1ehgs6rs75b,j578zwrymwrmc4wbppdas820qs6rsb81,k179wpzex0za69rx2wyv02e9hd6rj4fb,answerGenerated,js7500r0mcptqpednexvk0y2696ms1sg,explain,NaN,jd74vatwagx4wanw92ga4gryq56rrx3v,jd71tkjravfbhj3a697dwvfgzn6rrmyj,Kruskal's algorithm,A,B,Quiz #9,NaN,NaN,NaN,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 74, 'final': 78, ...",True
150861,2024-04-24 10:46:50.823283691,k57fzvd0cr8me2f2kzs936cchx6qvf63,j578cgfv5pz40m4j8r5jrnv0hx6qtezr,k177yab5r87ytywcxb9f5egp756qmdn5,answerGenerated,js73xrgxcrm1hq75p454txpb4h6mb1wa,explain,NaN,jd79tnx0dkv6gsk9w49jxkyvgs6qtagq,jd7595d8wsdy4dfvym44kpygfd6qvyz1,Ford-Fulkerson Algorithm,A,B,Quiz #7,NaN,NaN,NaN,NaN,NaN,False

In [22]:
logs_read = logs3_filled.copy()
start_time_read = logs_read[(logs_read["variant"]=='reading') &(logs_read["type"]=="attemptStarted")].groupby(["userId","week"])["_creationTime"].max().reset_index()
start_time_quiz = logs_read[(logs_read["variant"]=='reading') &(logs_read["type"]=="quizStarted")].groupby(["userId","week"])["_creationTime"].min().reset_index()
time_spent_read = start_time_read.merge(start_time_quiz, on=["userId","week"], how="left")
time_spent_read["timeSpent_read"] = (time_spent_read["_creationTime_y"] - time_spent_read["_creationTime_x"]).dt.total_seconds()/60
logs_read = logs_read.merge(time_spent_read[["userId","week","timeSpent_read"]], on=["userId","week"], how="left")
logs_read

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,...,controlGroup,userGroup,week,timeSpent_quiz,n_mess,timeSpent_message,userData,userGrades,valid,timeSpent_read
0,2024-05-11 15:56:52.688503174,k570005nhp144860betwtwy7v56rx64m,j571kc5p8ah7yvj1xhng7nzpgs6rxy2m,k179wpzex0za69rx2wyv02e9hd6rj4fb,attemptStarted,js71tk2nax2wvs97m3vgc5erp16mds09,reading,NaN,NaN,NaN,...,A,A,Quiz #9,1.769433,NaN,12.345785,"{'gender': 'Female', 'section': 'IN', 'semeste...","{'coding': 65.0, 'midterm': 98, 'final': 86, '...",True,7.015491
1,2024-04-16 08:00:01.116921631,k57000a4rv5wgy13d63pqyt51s6qb2vv,j57adjsev6qjazakv9p4ad7qwh6qany3,k1710bmgh2mwgaqv7sjkmmfh1x6pveqf,quizSubmission,js7ese808vctnr15sy1te2pvx96mndmx,explain,"{'answers': [2.0, 0.0, 2.0], 'correctness': 1....",NaN,NaN,...,A,B,Quiz #5,18.036219,11.0,16.125910,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 63, 'final': 72, ...",True,2.276635
2,2024-05-20 16:28:14.092592285,k57000d308fpr45yqrprf6wrs56see5h,j572qtbd19x89mraje17mmj30x6sen0s,k176kkt806khrpxnctb9hczm316rtsrq,quizSubmission,js78b7hq6r6pk2c0mm9d2he91s6mjb8v,reading,"{'answers': [2.0, 3.0, 0.0], 'correctness': 1....",NaN,NaN,...,A,A,Quiz #10,12.279168,NaN,14.979340,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 100.0, 'midterm': 55, 'final': 35, ...",True,0.121073
3,2024-04-18 08:10:36.998193848,k57000m99awdk4jw41cjfe4jkn6qf1jj,j572w733907q5k2w0kkk4a19z96qfaec,k171kqa60g6a9qpm0f0jv07wn16ptnr1,quizSubmission,js7e56b2v2t5nacr7e4n8dnn3d6mb606,explain,"{'answers': [0.0, 1.0, 1.0], 'correctness': 0....",NaN,NaN,...,B,A,Quiz #6,712.725918,13.0,13.314908,"{'gender': 'Female', 'section': 'ING_MATH', 's...","{'coding': 100.0, 'midterm': 82, 'final': 81, ...",True,1.873318
4,2024-03-13 16:35:30.072217773,k57000mdpmrfm67q4eymvsbqns6n6ezf,j571e3e401tqj2mag6mjgrcynx6n7t96,k1715d99fyvzt35jfm2638g3nd6n35z3,exerciseCompleted,js7534h7gnm8pmyem0n6ttdb816mb94w,explain,NaN,NaN,NaN,...,A,B,Quiz #3,9.432901,9.0,3.208412,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 87, 'final': 68, ...",True,1.151624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150892,2024-04-04 09:59:25.539958252,k57fzzawztspx74s56dd8v9g7h6pkea6,j57cq176xgq49ebe4hq4ec4bb96pjfc1,k17asvnfeyp3q949hdkwjq2and6p2x6e,messageSent,js7ejegwwy13npt4t5xmxfaze16mf7wj,explain,NaN,jd765cr60qe2ygzfqsgq9950996pj5fm,jd77rttn3djr1548bzs6jp24hs6pkmyv,...,A,B,Quiz #4,6.870883,13.0,10.088254,"{'gender': 'Male', 'section': 'SC', 'semester'...","{'coding': 100.0, 'midterm': 60, 'final': 40, ...",True,0.116202
150893,2024-04-23 10:58:30.496422607,k57fzzbpy6sndtetjcsrfm8j7n6qrk4f,j573jw31r3p36xs9prfbskv8sn6qshfr,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,feedbackGiven,js75phnd9pfy1mp9b3s4w94f0d6mjzaa,explain,NaN,jd70ajdywrabes973rbs30j3ax6qsnfk,NaN,...,A,B,Quiz #6,156.682048,35.0,891.539077,"{'gender': 'Female', 'section': 'SC', 'semeste...","{'coding': 0.0, 'midterm': 76, 'final': 79, 'g...",True,0.293077
150894,2024-05-06 22:05:16.395833740,k57fzzdgj1jvxwbbb443hfkej96rkktd,j57ck5p09yecbjpse269svw8eh6rkapf,k1768n9arfqk6vpqtsaxgs3m156qx8mp,messageSent,js77jjffzjf9pskspa6hh9sknh6ma65a,explain,NaN,jd764p5pff8zfxjf67f3rb2rgn6rj0xv,jd7920e1qrchh4fj403hjw9xj16rkyqt,...,A,B,Quiz #8,24.978101,25.0,10.592223,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 50.0, 'midterm': 49, 'final': 58, '...",True,41.900725
150895,2024-04-18 12:31:21.107867188,k57fzzgqsqtqrqm43bfrgpazth6qfv3c,j573hc3tac12sym478a3f9634d6qe4yq,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,attemptStarted,js77gaavvhwwnth677vgafz3sd6mbgt9,explain,NaN,NaN,NaN,...,A,B,Quiz #6,7.121689,13.0,4.801819,"{'gender': 'Male', 'section': 'IN', 'semester'...","{'coding': 65.0, 'midterm': 77, 'final': 87, '...",True,0.128499
150896,2024-04-23 23:42:35.980069824,k57fzzpd64sqx8fsmy4j1afyrd6qsc59,j572fx0aen3kjntt6h1ghn8kkd6qrxfh,k17aatn2xs5xgqg6cgcjm1tqcn6q0cw7,messageSent,js772btmge1q78y2b716fgyjxd6mmktb,explain,NaN,jd70d9kx58fxkvtb2t5nj9rtb16qsghj,jd77wf1rmmxxfb7d4xqna37yj96qrwx6,...,A,B,Quiz #6,NaN,15.0,9.021360,"{'gender': 'Female', 'section': 'IN', 'semeste...","{'coding': 100.0, 'midterm': 62, 'final': 52, ...",True,0.096239

In [23]:
messages = pd.read_json(f"{db}/messages/documents.jsonl", lines=True)
messages = messages[["content","_id","system"]].rename(columns={"_id":"systemMessageId"})
msg_sys = messages[messages["system"]]
msg_usr = messages[~messages["system"]]
logs_msg = logs_read.merge(msg_sys, on="systemMessageId", how="left")
logs_msg = logs_msg.merge(msg_usr, left_on="userMessageId",right_on="systemMessageId", how="left",suffixes=("","_usr"))
# regroup the columns
logs_msg.query("system == False")["content"] = np.nan
logs_msg = logs_msg.drop(columns=["systemMessageId_usr"])
logs_msg["system"] = logs_msg["system"].fillna(logs_msg["system_usr"])
logs_msg = logs_msg.drop(columns=["system_usr","system"])

In [24]:
logs_final = logs_msg.copy()
logs_final.to_json("merged_logs.jsonl",orient="records",lines=True,date_format="iso")

In [25]:
logs_final.columns

Index(['_creationTime', '_id', 'attemptId', 'exerciseId', 'type', 'userId',
       'variant', 'details', 'systemMessageId', 'userMessageId',
       'exerciseName', 'controlGroup', 'userGroup', 'week', 'timeSpent_quiz',
       'n_mess', 'timeSpent_message', 'userData', 'userGrades', 'valid',
       'timeSpent_read', 'content', 'content_usr'],
      dtype='object')

In [26]:
logs_csv = logs_final.copy()
logs_csv = logs_csv[logs_csv["valid"]]

In [27]:
logs_csv["userData"]

0         {'gender': 'Female', 'section': 'IN', 'semeste...
1         {'gender': 'Male', 'section': 'SC', 'semester'...
2         {'gender': 'Male', 'section': 'IN', 'semester'...
3         {'gender': 'Female', 'section': 'ING_MATH', 's...
4         {'gender': 'Male', 'section': 'SC', 'semester'...
                                ...
150892    {'gender': 'Male', 'section': 'SC', 'semester'...
150893    {'gender': 'Female', 'section': 'SC', 'semeste...
150894    {'gender': 'Male', 'section': 'IN', 'semester'...
150895    {'gender': 'Male', 'section': 'IN', 'semester'...
150896    {'gender': 'Female', 'section': 'IN', 'semeste...
Name: userData, Length: 128422, dtype: object

In [28]:
for key in logs_csv["userData"][0].keys():
    logs_csv[key] = logs_csv["userData"].apply(lambda x: x[key] if type(x)==dict else np.nan)
logs_csv.columns

Index(['_creationTime', '_id', 'attemptId', 'exerciseId', 'type', 'userId',
       'variant', 'details', 'systemMessageId', 'userMessageId',
       'exerciseName', 'controlGroup', 'userGroup', 'week', 'timeSpent_quiz',
       'n_mess', 'timeSpent_message', 'userData', 'userGrades', 'valid',
       'timeSpent_read', 'content', 'content_usr', 'gender', 'section',
       'semester'],
      dtype='object')

In [29]:
for key in logs_csv["userGrades"][0].keys():
    logs_csv[key] = logs_csv["userGrades"].apply(lambda x: x[key] if type(x)==dict else np.nan)
logs_csv.columns

Index(['_creationTime', '_id', 'attemptId', 'exerciseId', 'type', 'userId',
       'variant', 'details', 'systemMessageId', 'userMessageId',
       'exerciseName', 'controlGroup', 'userGroup', 'week', 'timeSpent_quiz',
       'n_mess', 'timeSpent_message', 'userData', 'userGrades', 'valid',
       'timeSpent_read', 'content', 'content_usr', 'gender', 'section',
       'semester', 'coding', 'midterm', 'final', 'grade_out_of_100',
       'grade_out_of_6'],
      dtype='object')

In [30]:

logs_csv["coding"].describe()

count    128422.000000
mean         83.391417
std          31.282660
min           0.000000
25%          85.000000
50%         100.000000
75%         100.000000
max         100.000000
Name: coding, dtype: float64

In [31]:
logs_csv["n_attempts"] = logs_csv.groupby(["userId","exerciseName"])["type"].transform(lambda x: (x=='quizSubmission').sum())

In [32]:
logs_csv = logs_csv.drop_duplicates(subset=["userId","exerciseId"])
logs_csv

,_creationTime,_id,attemptId,exerciseId,type,userId,variant,details,systemMessageId,userMessageId,...,content_usr,gender,section,semester,coding,midterm,final,grade_out_of_100,grade_out_of_6,n_attempts
0,2024-05-11 15:56:52.688503174,k570005nhp144860betwtwy7v56rx64m,j571kc5p8ah7yvj1xhng7nzpgs6rxy2m,k179wpzex0za69rx2wyv02e9hd6rj4fb,attemptStarted,js71tk2nax2wvs97m3vgc5erp16mds09,reading,NaN,NaN,NaN,...,NaN,Female,IN,Bachelor semester 4,65.0,98,86,88.9,5.75,1
1,2024-04-16 08:00:01.116921631,k57000a4rv5wgy13d63pqyt51s6qb2vv,j57adjsev6qjazakv9p4ad7qwh6qany3,k1710bmgh2mwgaqv7sjkmmfh1x6pveqf,quizSubmission,js7ese808vctnr15sy1te2pvx96mndmx,explain,"{'answers': [2.0, 0.0, 2.0], 'correctness': 1....",NaN,NaN,...,NaN,Male,SC,Bachelor semester 4,100.0,63,72,74.0,5.00,9
2,2024-05-20 16:28:14.092592285,k57000d308fpr45yqrprf6wrs56see5h,j572qtbd19x89mraje17mmj30x6sen0s,k176kkt806khrpxnctb9hczm316rtsrq,quizSubmission,js78b7hq6r6pk2c0mm9d2he91s6mjb8v,reading,"{'answers': [2.0, 3.0, 0.0], 'correctness': 1....",NaN,NaN,...,NaN,Male,IN,Bachelor semester 4,100.0,55,35,51.3,3.75,7
3,2024-04-18 08:10:36.998193848,k57000m99awdk4jw41cjfe4jkn6qf1jj,j572w733907q5k2w0kkk4a19z96qfaec,k171kqa60g6a9qpm0f0jv07wn16ptnr1,quizSubmission,js7e56b2v2t5nacr7e4n8dnn3d6mb606,explain,"{'answers': [0.0, 1.0, 1.0], 'correctness': 0....",NaN,NaN,...,NaN,Female,ING_MATH,Master semester 2,100.0,82,81,85.1,5.50,53
4,2024-03-13 16:35:30.072217773,k57000mdpmrfm67q4eymvsbqns6n6ezf,j571e3e401tqj2mag6mjgrcynx6n7t96,k1715d99fyvzt35jfm2638g3nd6n35z3,exerciseCompleted,js7534h7gnm8pmyem0n6ttdb816mb94w,explain,NaN,NaN,NaN,...,NaN,Male,SC,Bachelor semester 6,100.0,87,68,79.2,5.25,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132819,2024-04-26 21:43:45.448049316,k57e2tnp05btvz259wne7sdzv16qzmg5,j575dm96pgm5qpznym59h7wsgh6qympd,k172p4g9eanfgsgtkjg0sn49916qgwh4,attemptStarted,js7dfm6gbhfnw838g22wjynnr96mmmm5,reading,NaN,NaN,NaN,...,NaN,Male,SC,Bachelor semester 4,100.0,73,52,67.0,4.50,0
134554,2024-05-15 13:59:11.622167969,k57e8q1hhjynp478fnbx4sy7jd6s4eh4,j578y7jesez3j110r5epzmp9fn6s4h2p,k177dxhnpwwtrq9dy5770jmrwx6rvzrr,quizStarted,js72e99j78d0thce52z0w0594n6mbthj,reading,NaN,NaN,NaN,...,NaN,Male,MATH,Master semester 2,65.0,77,62,70.6,4.75,1
134867,2024-05-27 14:11:33.026981689,k57e9nzc3x0dhvhkqb5jv3xhb56sw770,j57a5g4ckqkmjnxfz33xngkxkh6sxzzw,k17416m11n2qpqy5sr2zz6782s6s2y2n,attemptStarted,js71v2af0tfkjx57xy21wqhyyx6md2et,reading,NaN,NaN,NaN,...,NaN,Male,IN,Bachelor semester 4,100.0,72,51,67.1,4.50,1
136952,2024-04-06 16:13:04.526881104,k57egqzbekxz2cx13fqarx8jfx6pqg7t,j57bb2w2jk67bjny2fpfrw349s6pqmt1,k1779x2fet2p0zkazg66nvfcjh6p2vbm,attemptStarted,js74bee168c3m9qtpwj7fjjt496mgx7x,reading,NaN,NaN,NaN,...,NaN,Male,IN,Bachelor semester 6,100.0,54,49,59.8,4.25,0
142177,2024-05-16 20:00:56.582666748,k57f2f674gke1c34qnak1xmvkd6s6sws,j576jyvx5kgp8kz8746t0vekg56s6vtd,k177dxhnpwwtrq9dy5770jmrwx6rvzrr,attemptStarted,js72qfvy2mhzd5t4wrxvkdcptd6mhrkf,reading,NaN,NaN,NaN,...,NaN,Male,IN,Bachelor semester 4,100.0,61,76,76.0,5.00,0

In [33]:
logs_csv.columns

Index(['_creationTime', '_id', 'attemptId', 'exerciseId', 'type', 'userId',
       'variant', 'details', 'systemMessageId', 'userMessageId',
       'exerciseName', 'controlGroup', 'userGroup', 'week', 'timeSpent_quiz',
       'n_mess', 'timeSpent_message', 'userData', 'userGrades', 'valid',
       'timeSpent_read', 'content', 'content_usr', 'gender', 'section',
       'semester', 'coding', 'midterm', 'final', 'grade_out_of_100',
       'grade_out_of_6', 'n_attempts'],
      dtype='object')

In [34]:
column_list = [
    "_creationTime",
    "_id",
    "variant",
    "userId",
    "exerciseId",
    "exerciseName",
    "week",
    "controlGroup",
    "userGroup",
    "n_attempts",
    "timeSpent_quiz",
    "n_mess",
    "timeSpent_message",
    "timeSpent_read",
    'gender',
    'section',
    'semester',
    'coding',
    'midterm',
    'final',
    'grade_out_of_100',
    'grade_out_of_6'
    ]

In [35]:
logs_csv = logs_csv[column_list].sort_values(["userId","_creationTime"])
logs_csv.to_csv("merged_logs.csv",index=False)